* {
    margin: 0;
    padding: 0;
    background-color: #d68fd6;
}

.main-cls {
    text-align: center;
    position: relative;
}

.main-cls h1 {
    font-size: 44px;
   margin-top: 48px;
}
@media screen and (max-width: 650px){
    .main-cls h1 {
        font-size: 35px;
        margin-top: 48px;
    }
}
@media screen and (max-width: 400px) {
    .main-cls h1 {
        font-size: 28px;
    }
}
.container {
    text-align: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 750px){
    .container{
        height: 52vh;
    }
}

@media screen and (max-width: 420px){
    .container{
        height: 45vh;
    }
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 60vmin;
    width: 60vmin;
    gap: 18px;
}
@media  screen and (max-width: 750px) {
   .game{
    height: 55vmin;
        width: 55vmin;
        gap: 9px;
   }
}
.box {
    background-color: white;
    color: #464f51;
    font-size: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18vmin;
    width: 18vmin;
    border-radius: 24px;
    border: none;
    box-shadow: 0px 0 0.6rem 0px;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .box{
        font-size: 65px;
        border-radius: 15px;
        height: 16vmin;
        width: 16vmin;
    }
}
@media screen and (max-width: 550px) {
    .box{
        font-size: 26px;
        border-radius: 10px;
        box-shadow: 0px 0 0.4rem 0px;
        height: 16vmin;
        width: 16vmin;
    }
}
.rest-btn {
    background-color: #000009;
    color: white;
    padding: 16px 36px;
    font-size: 24px;
    border: none;
    border-radius: 28px;
    margin-top: 16px;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 650px) {
    .rest-btn {
        font-size: 18px;
        padding: 8px 17px;
        margin-top: 0;
    }
}
    
.msg-container{
    background-color: #d68fd600;
    text-align: center;
    position: sticky;
    top: 30%;
    z-index: 1;
}

.msg {
    font-size: 43px;
    background-color: #d68fd600;
}

.new-btn {
    background-color: #000009;
    color: white;
    border: none;
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 30px;
    cursor: pointer;
}

/* Add your styles here */
.hide {
    display: none;
}

.remove {
    opacity: 0.1; /* or any other style to indicate removal */
    pointer-events: none;
   
}

